@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="border-top footer text-muted bg-dark py-3">
    <div class="container text-center text-white">
        &copy; 2026 - BaiCuoiKy | FindRoom
    </div>
</footer>