<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BaiCuoiKy</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />

    @RenderSection("Styles", required: false)
</head>
<body>

    <!-- HEADER -->
    @await Html.PartialAsync("_Header")

    <!-- NAVBAR -->
    @await Html.PartialAsync("_Navbar")

    <!-- MAIN -->
    <div class="container mt-3">
        @RenderBody()
    </div>

    <!-- FOOTER -->
    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>