@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-primary text-white text-center py-2">
    <h5>🔥 Website tìm trọ nhanh chóng - tiện lợi</h5>
</div>