@model List<BaiCuoiKy.Models.Booking>

<div class="booking-page">

    <h2>Danh Sách Đặt Phòng</h2>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Phòng</th>
                <th>Người đặt</th>
                <th>Ngày đặt</th>
                <th>Ngày nhận</th>
                <th>Trạng thái</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Tro.TieuDe</td>
                    <td>@item.User.Id</td>
                    <td>@item.NgayDat.ToString("dd/MM/yyyy")</td>
                    <td>@item.NgayNhan.ToString("dd/MM/yyyy")</td>

                    <td>
                        @if (item.TrangThai == "Chờ duyệt")
                        {
                            <span class="badge bg-warning">Chờ duyệt</span>
                        }
                        else
                        {
                            <span class="badge bg-success">Đã duyệt</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>